<div class="band">

  
  
  <div class="item-4">
    <a href="{{ site.url }}/chat/kiwichat" class="card">
      <div class="thumb" style="background-image: url(/assets/images/chat/kiwichat.webp);"></div>
      <article>
        <h1>Conectează-te cu KiwiChat</h1>
       
        <span>KiwiChat</span>
      </article>
    </a>
  </div>
  <div class="item-5">
    <a href="{{ site.url }}/chat/kiwiirc" class="card">
      <div class="thumb" style="background-image: url(/assets/images/chat/kiwiirc.webp);"></div>
      <article>
        <h1>Conectează-te cu KiwiIRC</h1>
        <span>KiwiIRC</span>
      </article>
    </a>
  </div>
  <div class="item-6">
    <a href="{{ site.url }}/chat/qwebirc" class="card">
      <div class="thumb" style="background-image: url(/assets/images/chat/qwebirc.webp);"></div>
      <article>
        <h1>Conectează-te cu qWebIRC</h1>

        <span>qWebIRC</span>
      </article>
    </a>
  </div>
  <div class="item-7">
    <a href="{{ site.url }}/chat/thelounge" class="card">
      <div class="thumb" style="background-image: url(/assets/images/chat/thelounge.webp);"></div>
      <article>
        <h1>Conectează-te cu TheLounge</h1>
        <span>TheLounge</span>
      </article>
    </a>
  </div>
  
  
  
  </div>