<main id="main" class="main" tabindex="-1">
<div class="a-text">
<h2>Camere de chat</h2>
</div>
<div class="posts lg:flex flex-1">


<article class="article-card mb-12 mx-4 flex-1 bg-white overflow-hidden rounded-lg shadow-lg">
<a class="featured-image-link block relative overflow-hidden" href="chat/general">
<ul class="absolute bottom-0 left-0 flex p-8 z-10"><li class="mr-2">
<span class="inline-block bg-pink-500 px-6 py-3 text-white text-xs font-bold rounded">WebChat</span></li>
</ul><figure><img src="/assets/images/chat/2.webp" class="block" alt="WebChat general"></figure></a>
<div class="p-8">
<h2 class="text-2xl mb-6">
<a class="block text-purple-900 hover:text-pink-500" href="chat/general">WebChat General</a></h2>
<div class="text-sm text-gray-600 md:flex mb-4">
<p class="author">Canal principal</p>
<p class="hidden md:block px-2"></p>
<time datetime="Fri Nov 15 2019 00:00:00 GMT+0000 (Coordinated Universal Time)">#Romania #RadioClick</time></div></div></article>
<article class="article-card mb-12 mx-4 flex-1 bg-white overflow-hidden rounded-lg shadow-lg">
<a class="featured-image-link block relative overflow-hidden" href="chat/jocuri">
<ul class="absolute bottom-0 left-0 flex p-8 z-10">
<li class="mr-2">
<span class="inline-block bg-pink-500 px-6 py-3 text-white text-xs font-bold rounded">WebChat</span></li></ul>
<figure><img src="/assets/images/chat/3.webp" class="block" alt="WebChat Jocuri"></figure></a>
<div class="p-8"><h2 class="text-2xl mb-6"><a class="block text-purple-900 hover:text-pink-500" href="chat/jocuri">WebChat Jocuri</a></h2>
<div class="text-sm text-gray-600 md:flex mb-4"><p class="author">Canal pentru jucatori</p><p class="hidden md:block px-2">—</p>
<time datetime="Wed Oct 30 2019 00:00:00 GMT+0000 (Coordinated Universal Time)">#Trivia #Scrable</time></div></div></article>
<article class="article-card mb-12 mx-4 flex-1 bg-white overflow-hidden rounded-lg shadow-lg">
<a class="featured-image-link block relative overflow-hidden" href="chat/ajutor">
<ul class="absolute bottom-0 left-0 flex p-8 z-10"><li class="mr-2">
<span class="inline-block bg-pink-500 px-6 py-3 text-white text-xs font-bold rounded">WebChat</span></li></ul>
<figure><img src="/assets/images/chat//1.webp" class="block" alt="WebChat Ajutor"></figure></a>
<div class="p-8"><h2 class="text-2xl mb-6">
<a class="block text-purple-900 hover:text-pink-500" href="chat/ajutor">WebChat Ajutor</a></h2>
<div class="text-sm text-gray-600 md:flex mb-4">
<p class="author">Canal dedicat pentru probleme</p><p class="hidden md:block px-2">—</p>
<time datetime="Sun Sep 30 2018 00:00:00 GMT+0000 (Coordinated Universal Time)">#Ajutor</time></div></div></article>
</div>


</main>