    <div class="slider">
        <div class="slide-track">
		<div class="slide">
                <img src="{{ site.url }}/assets/images/parteneri/03.png" alt="">
            </div>
            <div class="slide">
                 <a href=""><img src="{{ site.url }}/assets/images/parteneri/003.png" alt=""></a>
            </div>
         <div class="slide">
                <img src="{{ site.url }}/assets/images/parteneri/03.png" alt="">
            </div>
            <div class="slide">
                <a href="https://romaniachat.eu/" target="_blank"><img src="{{ site.url }}/assets/images/parteneri/romaniachat3.png" alt=""></a>
            </div>
          <div class="slide">
                <img src="{{ site.url }}/assets/images/parteneri/03.png" alt="">
            </div>
            <div class="slide">
                <a href="https://radioclick.ro" target="_blank"><img src="{{ site.url }}/assets/images/parteneri/radioclick2.png" alt=""></a>
            </div>
		 <div class="slide">
                <img src="{{ site.url }}/assets/images/parteneri/03.png" alt="">
            </div>
            <div class="slide">
                <a href="https://triviaonline.ro" target="_blank"><img src="{{ site.url }}/assets/images/parteneri/trivia2.png" alt=""></a>
            </div>
		 <div class="slide">
                <img src="{{ site.url }}/assets/images/parteneri/03.png" alt="">
            </div>
            <div class="slide">
                <a href="https://kiwichat.ro" target="_blank"><img src="{{ site.url }}/assets/images/parteneri/kiwichatro3.png" alt=""></a>
            </div>
			 <div class="slide">
                <img src="{{ site.url }}/assets/images/parteneri/03.png" alt="">
            </div>
			 <div class="slide">
                <a href="https://chatro.ro" target="_blank"><img src="{{ site.url }}/assets/images/parteneri/chatro3.png" alt=""></a>
            </div>
	 <div class="slide">
                <img src="{{ site.url }}/assets/images/parteneri/03.png" alt="">
            </div>
			 <div class="slide">
                <a href="https://chatmobile.ro" target="_blank"><img src="{{ site.url }}/assets/images/parteneri/chatmobile3.png" alt=""></a>
            </div>
			 <div class="slide">
                <img src="{{ site.url }}/assets/images/parteneri/03.png" alt="">
            </div>
			 <div class="slide">
                <a href="https://romaniachat.org" target="_blank"><img src="{{ site.url }}/assets/images/parteneri/romaniachatorg3.png" alt=""></a>
            </div>
		 <div class="slide">
                <img src="{{ site.url }}/assets/images/parteneri/03.png" alt="">
            </div>
		 <div class="slide">
                <img src="{{ site.url }}/assets/images/parteneri/03.png" alt="">
            </div>
	 <div class="slide">
                <img src="{{ site.url }}/assets/images/parteneri/03.png" alt="">
            </div>
		<div class="slide">
                <img src="{{ site.url }}/assets/images/parteneri/03.png" alt="">
            </div>
		
        </div>
    </div>
