<header>

  <div class="a-text">
  <h1>Ultimele articole din blog</h1>
  </div>
  <div class="band">
  
    <div class="item-1">
    <a href="{{ site.url }}/blog/webmasteri/wordpress-romaniachat-plugin" class="card">
      <div class="thumb" style="background-image: url(assets/images/wp-romaniachat/wp-romaniachat2.0-info.png);"></div>
      <article>
        <h1>RomaniaChat WordPress Plugin</h1>
		<p>Pluginul RomaniaChat pentru WordPress va permite sa utilizati in pagina dvs de web wordpress, servicile pe care reteaua RomaniaChat.EU le ofera pentru webmasteri.</p>
        <span>Citește mai departe</span>
      </article>
    </a>
  </div>
  <div class="item-2">
    <a href="{{ site.url }}/blog/noutate-wp-romaniachat" class="card">
      <div class="thumb" style="background-image: url(assets/images/webmaster/b.png);"></div>
      <article>
        <h1>Noutate Wordpress Plugin RomaniaChat</h1>
		<p>Ne luam ramas bun de la versiunea pluginului 1.x bazat pe qwebirc si continuam cu o noua versiune 2.x bazat pe kiwiirc</p>
        <span>Citește mai departe</span>
      </article>
    </a>
  </div>
  <div class="item-3">
    <a href="{{ site.url }}/blog/webmasteri/generator-webchat" class="card">
      <div class="thumb" style="background-image: url(assets/images/webmaster/1.png);"></div>
      <article>
        <h1>Generator WebChat</h1>
        <p>Generatorul nostru exclusiv de chat web vă va permite să vă încorporați chat-ul pe site-ul dvs. web sau pe blogul dvs. personal. </p>
        <span>Citește mai departe</span>
      </article>
    </a>
  </div>

  </div>
  



<br>
<div class="a-text">
  <h1>Alege un Chat</h1>
  </div>
</header>
